<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BD06E41C6ADAE900CC328E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BD06F81C6ADAEA00CC328E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BD07031C6ADAEA00CC328E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
